.carousel {
  width: 100%;
  height: 600px;
  display: inline-block;
  position: relative;
}

.slider {
  width: 88vw;
  height: 600px;
  position: absolute;
  // border: 1px solid red;
  background-color: #fff;
  transition: 0.65s;
  .overlay {
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 0.65s;
  }
  img {
    z-index: 10;
    width: 100%;
    height: auto;
    position: relative;
  }
}

@for $i from 1 through 3 {
  .p#{$i} {
    left: $i * 4%;
    z-index: $i;
  }

  .drift_#{$i} {
    left: 100%- ($i * 4%) !important;
  }

  .hidden_#{$i} {
    background: rgba(0, 0, 0, (10- $i) * 0.1) !important;
  }
}
