.lotm {
  width: 1080px;
  margin: 30px auto 10px auto;
  .lotm_cover {
    width: 100%;
  }
  .lotm_items {
    padding-left: 25px;
    .lotm_item {
      width: 200px;
    }
  }
  .lotm_producer {
    width: 130px;
  }
}

.lotm_text {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  padding-left: 30px;
  .lotm_by {
    p {
      padding-left: 35px;
      padding-right: 15px;
    }
    font-size: 22px;
    line-height: 3;
    display: flex;
    align-items: center;
  }
}
