.nav_wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}

nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-left: 150px;
  img {
    transform: scale(0.7);
  }
}

.links {
  display: flex;
  width: 480px;
  align-items: center;
  justify-content: space-between;
  padding-right: 60px;

  a {
    font-family: "Noto Serif TC", serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.25s;
  }

  a:hover {
    text-shadow: 1.5px 1.5px 1.5px rgba(150, 150, 150, 0.8);
    transform: translateY(-1px);
  }
}

.actions {
  padding-right: 200px;
  display: flex;
  align-items: center;
  width: 90px;
  justify-content: space-between;

  a {
    i {
      font-size: 34px;
      color: black;
    }
  }

  .cart_icon {
    cursor: pointer;
    position: relative;
  }

  i {
    font-size: 28px;
  }

  .caution {
    width: 12px;
    height: 12px;
    background-color: crimson;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: 24px;
  }
}

.cart {
  width: 100vw;
  height: calc(100vh - 75px);
  background-color: rgba($color: #000000, $alpha: 0);
  transition: 0.25s;
  position: fixed;
  top: 75px;
  left: 100%;
  z-index: 10;
}

.show {
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
  display: flex;
  flex-direction: row-reverse;
}
